<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background_color</key>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>value</key>
		<string>FFFFFFFF</string>
	</dict>
	<key>button_background_color</key>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>value</key>
		<string>FFD99D00</string>
	</dict>
	<key>button_title_color</key>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>value</key>
		<string>FF00000</string>
	</dict>
	<key>header_background_color</key>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>value</key>
		<string>FFE0E0E0</string>
	</dict>
	<key>image_tint_color</key>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>value</key>
		<string>FF1D5ED9</string>
	</dict>
	<key>subtitle_color</key>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>value</key>
		<string>FF565656</string>
	</dict>
	<key>title_color</key>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>value</key>
		<string>FF000000</string>
	</dict>
	<key>button_corner_radius</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>8</integer>
	</dict>
	<key>button_height</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>50</integer>
	</dict>
	<key>button_title_font_size</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>20</integer>
	</dict>
	<key>button_title_font_weight</key>
	<dict>
		<key>type</key>
		<string>font_weight</string>
		<key>value</key>
		<string>bold</string>
	</dict>
	<key>title_font_size</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>32</integer>
	</dict>
	<key>title_font_weight</key>
	<dict>
		<key>type</key>
		<string>font_weight</string>
		<key>value</key>
		<string>bold</string>
	</dict>
	<key>subtitle_font_size</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>18</integer>
	</dict>
	<key>subtitle_font_weight</key>
	<dict>
		<key>type</key>
		<string>font_weight</string>
		<key>value</key>
		<string>regular</string>
	</dict>
	<key>image_size</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>96</integer>
	</dict>
	<key>image</key>
	<dict>
		<key>type</key>
		<string>image_name</string>
		<key>value</key>
		<string>doc.text.magnifyingglass</string>
	</dict>
	<key>header_background_corner_radius</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>header_spacing</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>12</integer>
	</dict>
	<key>header_horizontal_inset</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>16</integer>
	</dict>
	<key>header_vertical_inset</key>
	<dict>
		<key>type</key>
		<string>dimension</string>
		<key>value</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
